#!/bin/bash
# Copyright (c) 2019 Ivano Coltellacci. All rights reserved.
# Use of this source code is governed by the MIT License that can be found in
# the LICENSE file.

#-- LXDK8S Main Config file

source ./config/lxdk8s.proxy

source ./config/lxdk8s.v1.14.2

# You should do not need to change anything here after 
UBUNTU_VER="18.04"
CFSSL_VER="R1.2"

declare -A POD_CIDR_NET
POD_CIDR_NET["lxdk8s-w0"]="10.200.0.0/24" 
POD_CIDR_NET["lxdk8s-w1"]="10.200.1.0/24" 
POD_CIDR_NET["lxdk8s-w2"]="10.200.2.0/24" 

if [ "lxdk8s-lb" = "$(lxc list --columns n --format csv lxdk8s-lb)" ]; then

LXDK8S_PUBLIC_ADDR=$(lxc info lxdk8s-lb | grep eth0 | head -1 | awk '{print $3}')

M0_IP=$(lxc info lxdk8s-m0 | grep eth0 | head -1 | awk '{print $3}')
M1_IP=$(lxc info lxdk8s-m1 | grep eth0 | head -1 | awk '{print $3}')
M2_IP=$(lxc info lxdk8s-m2 | grep eth0 | head -1 | awk '{print $3}')

W0_IP=$(lxc info lxdk8s-w0 | grep eth0 | head -1 | awk '{print $3}')
W1_IP=$(lxc info lxdk8s-w1 | grep eth0 | head -1 | awk '{print $3}')
W2_IP=$(lxc info lxdk8s-w2 | grep eth0 | head -1 | awk '{print $3}')

fi